<div id="about">
    <h1 class="text-danger text-center mb-5"> <u> About</u></h1>
    <div class="mainContent d-flex flex-wrap   mt-5">
        <div class="imgCon col-12 col-md-6  px-0 px-md-5 ">
            <img src="assets/image.png" class="imgPositation" width="50%">
        </div>

        <div class="textCon col-12 col-md-6 p-4 text-center text-md-start px-md-5 mt-5 ">
            <h3>Hello</h3>
            <p>
                Hard working software engineering student from Zenica in my 
                third and final year. I'm also a former Pharmacy technician 
                and a future full stack developer. I’ve found my passion in 
                web development. I love spending time coding and 
                encountering new challenges. I’m highly adaptable to new 
                challenges and projects. I'm a Junior Scholar at Bosnia and 
                Herzegovina Futures foundation and that is the best thing that 
                happened to me.
            </p>
        </div>
    </div>
</div   >