.px-5 {
    padding-top: 2rem !important;
    padding-left: 9rem !important;
    padding-right: 0 !important;
}
.imgPositation{
    position: relative;
    left: 30%;
}

@media  (max-width: 768px) {
    .imgPositation{
        position: relative;
        left: 26%;
    }
}
ul li{
    list-style: none;
}
span{
    color: #dd0f24;
    font-weight: bold;
    margin-right: 0.5rem;
}
.tab-links {
    cursor: pointer;
  }
  
  .tab-links.active {
    font-weight: bold;
    // color: blue; /* Or any other styles to highlight the active tab */
  }