.particles {
  width: 100%;
  height: 100vh;
}

.bg-dark {
  --bs-bg-opacity: 0.9;
}

a {
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #e0dfe2;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #c90808;
}

/* navbar.component.css */
.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 10px;
}


// Toggle Menu Color
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}