<ngx-particles class="particles" id="tsparticles" [options]="particlesOptions" *ngIf="particlesVisible"></ngx-particles>
<nav class=" sticky-top bg-dark navbar h-top d-flex flex-wrap justify-content-between  py-2 px-3 ">



  <ul class="nav col-12 col-md-auto fs-5 justify-content-center mb-md-0">
    <li>
      <strong class="text-white"> Parwej's Portfolio</strong>
    </li>
  </ul>



  <ul class="nav d-flex ">
    <li class="nav-item ">
      <a class="nav-link " aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/skill">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/project">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-secondary" (click)=" toggleParticlesClick();toggleTheme();"> <i [class]="themeIcon"></i>
      </button>
    </li>

  </ul>

</nav>
