.ps-5{
    padding-left: 200px !important;
}
.fs-4h:hover {
    font-size: 1.8rem !important;
    margin-top: 0;
    color: #dd0f24;
}
.fs-2:hover {
    font-size: 2.8rem !important;
    margin-top: 0;
    color: #dd0f24;
}