<div id="skills ">
    <h1 class="text-danger text-center mb-5"> <u> Skills</u></h1>

    <div class="d-md-flex flex-wrap mx-4 mx-md-0">

        <div class="card  col-12 col-md-5 mx-0 mx-md-5 align-self-center fs-4 text-center  mb-3"
            *ngFor="let skill of skills">
            <div class="height">
                <fa-icon [icon]="skill.icon"></fa-icon>
                <span>{{skill.name}}</span>
                <div class="skills_bar"></div>
            </div>
        </div>
    </div>
</div>