/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
// MDB SCSS
// @import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";


// src/styles.scss
:root {
  --body-font: "Poppins", sans-serif;
  --background-color: #fff !important;
  --text-color: #000 !important;
  scrollbar-color: rgb(207, 27, 27) rgb(20, 25, 27) !important;
  scrollbar-width: thin !important;
}
.text-danger{
  color: #dd0f24!important;
}

body.light {
  --bs-link-color-rgb: #000;
  --background-color: #ffffff !important;
  --text-color: #000 !important;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

body.dark {
  --bs-link-color-rgb: #fff;
  --background-color: rgba(27, 36, 45, 255) !important;
  --text-color: #fff !important;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

html {
  scroll-behavior: smooth;
}@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
