<div class="mainSection d-flex flex-wrap">
    <div class="textContent  textStyle col-12 col-md-7 px-5 px-md-5 p-5">
        <div>Hii, <br>
        
            I'm <span class="text-danger">Parwej</span> 
        </div>
        <div class=" " id="typing-effect" #typingEffect></div>
        <button class="bg-danger fs-4 rounded">Contact me!</button>

    </div>
    <div class="imgContent col-12 col-md-5 ps-5 ms-md-0 ms-3 p-md-5">
        <img src="assets/image.png" width="75%" >
    </div>
</div>